includes:
    - phpstan-baseline.neon

parameters:
    level: 10
    phpVersion: 80300
    checkFunctionNameCase: true
    reportUnmatchedIgnoredErrors: true
    checkBenevolentUnionTypes: true
    reportAlwaysTrueInLastCondition: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    bootstrapFiles:
        - build/phpstan.bootstrap.php

    paths:
        - src
        - tests
